.about__section {
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 2rem;
  background-color: #ebd1ae;
}
.about__header {
  font-size: 3rem;
  text-transform: lowercase;
  font-weight: bold;
  font-family: 'Raleway', serif;
  color: #7c826b;
  text-align: center;
  padding-top: 2rem;
}
.about__header2 {
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: bold;
  font-family: 'Raleway', serif;
  color: #7c826b;
  text-align: center;
  padding-top: 1.5rem;
}
.about__cards {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
}

.about__datasource {
  text-align: center;
  font-size: 2rem;
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #ccc; /* Border */
  box-shadow: 0 4px 8px #0000001a; /* Box shadow for depth */
  background-color: #877978;
  color: #f1f0e2;
  padding: 1rem;
}
.about__text {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 6rem;
  font-family: 'Poppins', sans-serif;
}
