.developer-card {
  width: 25rem; /* To have 3 cards in a row with margin */
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.model__page {
  background-color: #ebd1ae;
}

.card__container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ebd1ae;
}

.pagination__container {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding-bottom: 2rem;
}

.card__box {
  padding: 1rem;
}

.tool-card {
  width: 20rem; /* To have 3 cards in a row with margin */
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.card {
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #ccc; /* Border */
  box-shadow: 0 4px 8px #0000001a; /* Box shadow for depth */
  background-color: #877978;
  color: #f1f0e2;
}

.card-img-top {
  width: 100%;
  max-height: 200px; /* Adjust the maximum height of the image */
  object-fit: cover; /* Maintain aspect ratio */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-stat {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.card-text {
  font-size: 1.75rem;
}

.card-description {
  font-size: 1.5rem;
}

.card-body {
  text-align: center; /* Center align text */
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
