.instance__page {
  display: flex;
  flex-direction: column;
  padding-top: 0rem;
  background-color: #ebd1ae;
  min-height: 100vh;
}
.instance__img {
  min-width: 50rem;
  align-self: center;
  padding-top: 3rem;
  /* align-content: center; */
}

.instance__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 4rem;
  padding-right: 4rem;
}

.text__container {
  flex: 1;
  margin-right: 1rem; /* Adjust margin as needed */
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.google-map {
  padding-bottom: 1rem;
  position: relative;
  width: '600px';
  height: '600px';
}

.google-map iframe {
  height: 100%;
  width: 100%;
  right: 0%;
  top: 0;
  position: absolute;
}
