.splash-container {
  position: auto;
  overflow: hidden;
  background-color: rgba(235, 209, 174, 0.3); 
}
.splash-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background: url('../assets/veterans_splash_5.jpg') center/cover no-repeat fixed;
  z-index: -1;
}

.splash_img {
  width: 100%;
  opacity: 0.1;
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.welcome-text h1 {
  position: absolute;
  color: #7c826b;
  top: 45%;
  left: 10%;
  font-size: 3em;
  max-width: 40%;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/* For the mission section */
.mission-section {
  position: absolute;
  font-size: 1.5rem;
  top: 37%;
  right: 10%;
  width: 90%;
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  padding: 20px;
  background-color: rgba(124, 130, 107, 0.5);
  color: rgb(241, 240, 226);
  border-radius: 5%;
  animation: fadeIn 2s forwards;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .welcome-text h1 {
    left: 5%;
    max-width: 90%;
  }

  .mission-section {
    top: 300px;
    right: 5%;
    width: 90%;
    max-width: none; /* Remove the max-width on smaller screens */
    padding: 10px;
  }
}

.blank-space {
  height: 800px; /* Adjust the height as needed */
  background-color: transparent; /* Set a background color if you want */
}

.mission-paragraph {
  font-size: 1.2em;
  line-height: 1.5;
}

.mission-slide {
  position: relative;
  padding-bottom: 1%;
  min-height: 100vh;
}

.each-slide-effect > div {
  display: flex;
  /* padding-bottom: 1%; */
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  /* position: relative; */
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.text-padder {
  padding-top: 1%;
  text-align: left;
  font-size: 2rem;
  padding: 5%;
}

.veteran-stories-title {
	text-align: center;
	font-size: 4rem;
	font-family: "Raleway";
	font-weight: bold;
  color: #7c826b;
}

.vet-quote-card {
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
  }
